<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Kế Hoạch Chạy Máy</h1>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Mã Đơn Hàng</th>
          <th>Tên Khách Hàng</th>
          <th>Ngày YC Giao</th>
          <th>Kết Cấu Đặt Hàng</th>
          <th>Sóng</th>
          <th>Quy Cách</th>
          <th>HD Đặc Biệt</th>
          <th>Dao Xả</th>
          <th>Dài</th>
          <th>Khổ</th>
          <th>Khổ Cấp Giấy</th>
          <th>Số Lượng</th>
          <th>Kế Hoạch Chạy</th>
          <th>Thời Gian Chạy</th>
          <th>DM Phế Liệu</th>
          <th>PL Đầu C</th>
          <th>PL Đầu B</th>
          <th>PL Đầu E</th>
          <th>PL Đáy</th>
          <th>PL Dao</th>
          <th>Doanh Thu</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
</html>
